In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("./output.csv")

In [6]:
data

                                  UUID  Timestamp        x        y         z
0     8ba004c922a9b7f4b9da8c4b63ccae8d   13680.05 -3.93169 -3.00108  0.532280
1     8ba004c922a9b7f4b9da8c4b63ccae8d   13680.15 -3.92803 -2.98633  0.517843
2     8ba004c922a9b7f4b9da8c4b63ccae8d   13680.25 -3.93200 -2.97105  0.520105
3     8ba004c922a9b7f4b9da8c4b63ccae8d   13680.35 -3.92516 -2.96786  0.522445
4     8ba004c922a9b7f4b9da8c4b63ccae8d   13680.45 -3.91112 -2.97678  0.524931
...                                ...        ...      ...      ...       ...
2487  6b33aebaf166f4a8a6d11539f8ded85d   13723.51 -6.03284 -2.14886  0.138918
2488  73f168b158d12502bfd65b7fefe776b8   13723.51 -6.52298 -2.75643  0.132915
2489  a01e81573b3ca2ec1c4504dd49c7c672   13723.51 -4.00916 -3.11809  0.091160
2490  43c969d74ef4a14a05b88e5bf64fe555   13723.51 -5.51790 -1.21970  0.183482
2491  cf6d8e785eab1e186c191a8001ad37c2   13723.51 -5.01079 -3.63719  0.255830

[2492 rows x 5 columns]

In [ ]:
for i in range(13680, 13724):
    filtered_data = data[(data['Timestamp'] >= 13680) & (data['Timestamp'] < 13681)]
    dropped_filtered_data = filtered_data.drop_duplicates(subset='UUID', keep='first')

In [16]:
filtered_data = data[(data['Timestamp'] >= 13680) & (data['Timestamp'] < 13681)]
dropped_filtered_data = filtered_data.drop_duplicates(subset='UUID', keep='first')

In [17]:
dropped_filtered_data

                               UUID  Timestamp        x         y         z
0  8ba004c922a9b7f4b9da8c4b63ccae8d  13680.050 -3.93169 -3.001080  0.532280
9  984917491cbf7b7feb65d794fee57dc7  13680.851 -4.42574 -0.521871  0.073672